@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");

:root {
  --first-color: #fcfefe;
  --second-color: #455d7a;
  --third-color: #f95959;
  --fourth-color: #e3e3e3;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 2.5rem;
  font-size: 2rem;
}

/*  Navbar */
.header {
  display: flex;
  justify-content: center;

  background-color: var(--fourth-color);
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links li {
  display: flex;
  list-style: none;
  padding: 1.5rem;
}
.nav-links li a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.nav-links li a:hover {
  color: var(--third-color);
}
@media (max-width: 873px) {
  .nav-links li {
    font-size: 1.5rem;
  }
}
@media (max-width: 650px) {
  .nav-links {
    flex-direction: column;
  }
}

/* Intro Section */
.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/image/milwaukeelakefront.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: var(--second-color);
  height: 100vh;
  width: 100%;
}
.main-section {
  width: 100%;
  text-align: center;
}
.main-section h1 {
  font-size: 6rem;
  color: var(--first-color);
  padding: 3rem 0;
  margin-top: 10rem;
}
.main-section p {
  margin-top: 2rem;
  font-size: 3rem;
  color: var(--first-color);
  font-weight: 700;
}
.inner-section {
  text-align: center;
}
.inner-section p {
  color: var(--third-color);
}
@media (max-width: 480px) {
  .main-section h1 {
    line-height: 6rem;
    flex-wrap: wrap;
  }
  .main-section h1 {
    color: var(--second-color);
  }
}

/* About Me Section */

.about-me {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: var(--second-color);

  color: var(--first-color);
}

.about-me h1 {
  text-align: center;
}
.about-me h1::after {
  content: "";
  display: block;
  width: 4.3em;
  height: 2px;
  margin: 0.2em auto 1em;
  background-color: var(--third-color);
}
.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

/* Experience */
.experience-container {
  background-color: var(--fourth-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding-top: 3rem;
}
.experience h1 {
  text-align: center;
  padding-bottom: 3rem;
}
.experience {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.exp-skills {
  display: flex;
  justify-content: space-between;
}
.exp-skills p {
  font-weight: 600;
  line-height: 3.5rem;
}
@media (max-width: 570px) {
  .experience h1 {
    line-height: 4rem;
    margin-top: 3rem;
  }
  .exp-skills {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 630px) {
  .about-container {
    padding-top: 3rem;
  }
  .about-paragraph p {
    padding-bottom: 2rem;
  }
}
/* Project Section */

.projects {
  padding-top: 3rem;
  background-color: var(--fourth-color);
  min-height: 80vh;
}
.projects h1 {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0;
}
.inner-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 900px;
  padding: 3rem 0 2rem;
}
.pic img {
  max-width: 400px;
  height: 400px;
  margin: 2rem 0;
  padding: 0rem 1rem;
  cursor: pointer;
  border-radius: 18%;
}
.pic img:hover {
  z-index: 1;
  transform: scale(1.1);
  transition: 0.4s ease;

  animation: scale 0.4s linear;
  animation-fill-mode: forwards;
}
.pic p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 440px) {
  .pic img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .pic img {
    width: 280px;
    height: 280px;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  height: 40vh;
  background-color: var(--second-color);
  color: var(--first-color);
}
.footer h1 {
  font-size: 3rem;
  padding-top: 4rem 0;
}
.footer h1::after {
  content: "";
  display: block;
  width: 15rem;
  height: 2px;
  margin: 0.2em auto 1em;
  background-color: var(--third-color);
}
.contact-list li {
  list-style-type: none;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}
